<header class='header'>
  <div class='logoSection'>
    <span class='logoImg'>
      <img src="../../../assets/images/headerLogo.svg" alt="logo" />
    </span>
    <span class='logoName'>Sola</span>
</div>
<div class='currencySection'>
<ul>
    <li>
        <span class='amount'>1</span>
        <img src="../../../assets/images/eurIcon.svg" alt="eurIcon">
        :
        <span class='amount'>{{USD}}</span>
        UAH
    </li>
    <li>
        <span class='amount'>1</span>
        <img src="../../../assets/images/usdIcon.svg" alt="usdIcon">
        :
        <span class='amount'>{{EUR}}</span>
        UAH
    </li>
</ul>
</div>
</header>
